<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fstbr.demo.Dao.DiseaseDao">

	<select id="get" resultType="com.fstbr.demo.Domain.Model.Disease">
		select `id`,`parent_id`,`level`,`status`,`disease_name`,`create_time`,`creator`,`update_time`,`updator` from jzxy_disease where id = #{value}
	</select>

	<select id="list" resultType="com.fstbr.demo.Domain.Model.Disease">
		select `id`,`parent_id`,`level`,`status`,`disease_name`,`create_time`,`creator`,`update_time`,`updator` from jzxy_disease
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="diseaseName != null and diseaseName != ''"> and disease_name = #{diseaseName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="creator != null and creator != ''"> and creator = #{creator} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updator != null and updator != ''"> and updator = #{updator} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jzxy_disease
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="diseaseName != null and diseaseName != ''"> and disease_name = #{diseaseName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="creator != null and creator != ''"> and creator = #{creator} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updator != null and updator != ''"> and updator = #{updator} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.fstbr.demo.Domain.Model.Disease">
		insert into jzxy_disease
		(
			`id`, 
			`parent_id`, 
			`level`, 
			`status`, 
			`disease_name`, 
			`create_time`, 
			`creator`, 
			`update_time`, 
			`updator`
		)
		values
		(
			#{id}, 
			#{parentId}, 
			#{level}, 
			#{status}, 
			#{diseaseName}, 
			#{createTime}, 
			#{creator}, 
			#{updateTime}, 
			#{updator}
		)
	</insert>
	 
	<update id="update" parameterType="com.fstbr.demo.Domain.Model.Disease">
		update jzxy_disease 
		<set>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="level != null">`level` = #{level}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="diseaseName != null">`disease_name` = #{diseaseName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="creator != null">`creator` = #{creator}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updator != null">`updator` = #{updator}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from jzxy_disease where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jzxy_disease where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>